doctype html
html( lang='fr' )
    head
        meta( charset='utf-8' )/
        meta( name='viewport', content='width=device-width, minimum-scale=1.0' )/
        title OPTICS iOS App to share easily pictures
        link( rel="stylesheet", href="./css/main.css" )
    body
        main
            .wrapper
                object.logo(type="image/svg+xml",data="./img/logo.svg")
                h1.main-title OPTICS
                p.main-description Easily  instant sharing app 
                p.main-info Coming soon
                
            p.author Made by 
                a( href="http://www.swith.fr" ) Swith
        
